.rch-logo {
  height: 80px;
}

.rch-header {
	width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #222;
  color: white;
}

.rch-title {
  font-size: 1.5em;
}